<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="参加したリプレイを中心に、TRPG関連で作ったものをひっそりと置いています。TRPG、リプレイ、ソードワールド2.0リプレイ、ガーデンオーダーリプレイ、マスカレイドスタイルリプレイ、すくぱに♪リプレイ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRPG GM SUPPORT TOOLS FOR DodontoF API</title>
    <link href="{{ app.request.baseUrl }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.baseUrl }}/assets/css/tools-gmsupport.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>TRPG GM SUPPORT TOOLS FOR DodontoF API</h1>
            <div>Ver.1.46.00用</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default" type="button" style="">IMPORT ※未実装</button>
            <button class="btn btn-default" type="button" style="">EXPORT ※未実装</button>
        </div>
    </div>
    <br>
    <div id="dodontof-messages">
        <pre style="width: 100%; height: 120px;">no messages...</pre>
    </div>
    <br>
    <form id="common-form" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">URL</div>
                    <input type="text" class="form-control" id="url" value="http://web-evi.sakura.ne.jp/trpg/dodontof/DodontoFServer.rb">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">ROOM#</div>
                    <input type="number" class="form-control" id="room-number" value="5">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">PASS</div>
                    <input type="text" class="form-control" id="room-password">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">DICE</div>
                    <select class="form-control select-color" id="dice-bot">
                        <option value="" class=""> - </option>
                        {#<option value="Airgetlamh" class="">Airgetlamh</option>#}
                        {#<option value="Alsetto" class="">Alsetto</option>#}
                        {#<option value="Alshard" class="">Alshard</option>#}
                        {#<option value="Amadeus" class="">Amadeus</option>#}
                        {#<option value="Amadeus_Korean" class="">Amadeus_Korean</option>#}
                        {#<option value="Arianrhod" class="">Arianrhod</option>#}
                        {#<option value="ArsMagica" class="">ArsMagica</option>#}
                        {#<option value="BarnaKronika" class="">BarnaKronika</option>#}
                        {#<option value="BattleTech" class="">BattleTech</option>#}
                        {#<option value="BeastBindTrinity" class="">BeastBindTrinity</option>#}
                        {#<option value="BeginningIdol" class="">BeginningIdol</option>#}
                        {#<option value="BeginningIdol_Korean" class="">BeginningIdol_Korean</option>#}
                        {#<option value="BladeOfArcana" class="">BladeOfArcana</option>#}
                        {#<option value="BloodCrusade" class="">BloodCrusade</option>#}
                        {#<option value="BloodMoon" class="">BloodMoon</option>#}
                        {#<option value="CardRanker" class="">CardRanker</option>#}
                        {#<option value="ChaosFlare" class="">ChaosFlare</option>#}
                        {#<option value="Chill" class="">Chill</option>#}
                        {#<option value="Chill3" class="">Chill3</option>#}
                        {#<option value="CrashWorld" class="">CrashWorld</option>#}
                        <option value="Cthulhu" class="">クトゥルフ</option>
                        {#<option value="Cthulhu7th" class="">Cthulhu7th</option>#}
                        {#<option value="Cthulhu7th_Korean" class="">Cthulhu7th_Korean</option>#}
                        {#<option value="Cthulhu_Korean" class="">Cthulhu_Korean</option>#}
                        {#<option value="CthulhuTech" class="">CthulhuTech</option>#}
                        {#<option value="DarkBlaze" class="">DarkBlaze</option>#}
                        {#<option value="DemonParasite" class="">DemonParasite</option>#}
                        {#<option value="DetatokoSaga" class="">DetatokoSaga</option>#}
                        {#<option value="DetatokoSaga_Korean" class="">DetatokoSaga_Korean</option>#}
                        {#<option value="DiceBot" class="">DiceBot</option>#}
                        {#<option value="DiceBotLoader" class="">DiceBotLoader</option>#}
                        {#<option value="DiceOfTheDead" class="">DiceOfTheDead</option>#}
                        {#<option value="DoubleCross" class="">DoubleCross</option>#}
                        {#<option value="Dracurouge" class="">Dracurouge</option>#}
                        {#<option value="Dracurouge_Korean" class="">Dracurouge_Korean</option>#}
                        {#<option value="DungeonsAndDoragons" class="">DungeonsAndDoragons</option>#}
                        {#<option value="EarthDawn" class="">EarthDawn</option>#}
                        {#<option value="EarthDawn3" class="">EarthDawn3</option>#}
                        {#<option value="EarthDawn4" class="">EarthDawn4</option>#}
                        {#<option value="EclipsePhase" class="">EclipsePhase</option>#}
                        {#<option value="Elric" class="">Elric</option>#}
                        {#<option value="Elysion" class="">Elysion</option>#}
                        {#<option value="EmbryoMachine" class="">EmbryoMachine</option>#}
                        {#<option value="EndBreaker" class="">EndBreaker</option>#}
                        {#<option value="EtrianOdysseySRS" class="">EtrianOdysseySRS</option>#}
                        {#<option value="FilledWith" class="">FilledWith</option>#}
                        {#<option value="FullMetalPanic" class="">FullMetalPanic</option>#}
                        {#<option value="Garako" class="">Garako</option>#}
                        <option value="GardenOrder" class="">ガーデンオーダー</option>
                        <option value="GehennaAn" class="">マスカレイドスタイル</option>
                        {#<option value="GeishaGirlwithKatana" class="">GeishaGirlwithKatana</option>#}
                        {#<option value="GoldenSkyStories" class="">GoldenSkyStories</option>#}
                        {#<option value="Gorilla" class="">Gorilla</option>#}
                        {#<option value="GranCrest" class="">GranCrest</option>#}
                        {#<option value="Gundog" class="">Gundog</option>#}
                        {#<option value="GundogZero" class="">GundogZero</option>#}
                        {#<option value="Gurps" class="">Gurps</option>#}
                        {#<option value="GurpsFW" class="">GurpsFW</option>#}
                        {#<option value="HarnMaster" class="">HarnMaster</option>#}
                        {#<option value="Hieizan" class="">Hieizan</option>#}
                        {#<option value="HouraiGakuen" class="">HouraiGakuen</option>#}
                        {#<option value="HuntersMoon" class="">HuntersMoon</option>#}
                        {#<option value="InfiniteFantasia" class="">InfiniteFantasia</option>#}
                        <option value="Insane" class="">インセイン</option>
                        {#<option value="Insane_Korean" class="">Insane_Korean</option>#}
                        {#<option value="IthaWenUa" class="">IthaWenUa</option>#}
                        {#<option value="JamesBond" class="">JamesBond</option>#}
                        {#<option value="Kamigakari" class="">Kamigakari</option>#}
                        {#<option value="Kamigakari_Korean" class="">Kamigakari_Korean</option>#}
                        {#<option value="KanColle" class="">KanColle</option>#}
                        {#<option value="KillDeathBusiness" class="">KillDeathBusiness</option>#}
                        {#<option value="KillDeathBusiness_Korean" class="">KillDeathBusiness_Korean</option>#}
                        {#<option value="LiveraDoll" class="">LiveraDoll</option>#}
                        {#<option value="LogHorizon" class="">LogHorizon</option>#}
                        {#<option value="LogHorizon_Korean" class="">LogHorizon_Korean</option>#}
                        {#<option value="MagicaLogia" class="">MagicaLogia</option>#}
                        <option value="MeikyuDays" class="">迷宮デイズ</option>
                        <option value="MeikyuKingdom" class="">迷宮キングダム</option>
                        {#<option value="MetalHead" class="">MetalHead</option>#}
                        {#<option value="MetallicGuadian" class="">MetallicGuadian</option>#}
                        {#<option value="MonotoneMusium" class="">MonotoneMusium</option>#}
                        {#<option value="MonotoneMusium_Korean" class="">MonotoneMusium_Korean</option>#}
                        {#<option value="Nechronica" class="">Nechronica</option>#}
                        {#<option value="Nechronica_Korean" class="">Nechronica_Korean</option>#}
                        {#<option value="NightmareHunterDeep" class="">NightmareHunterDeep</option>#}
                        {#<option value="NightWizard" class="">NightWizard</option>#}
                        {#<option value="Njsl" class="">Njsl</option>#}
                        {#<option value="Nuekagami" class="">Nuekagami</option>#}
                        <option value="OneWayHeroics" class="">片道勇者TRPG</option>
                        {#<option value="Oukahoushin3rd" class="">Oukahoushin3rd</option>#}
                        {#<option value="Paranoia" class="">Paranoia</option>#}
                        {#<option value="ParasiteBlood" class="">ParasiteBlood</option>#}
                        {#<option value="Pathfinder" class="">Pathfinder</option>#}
                        {#<option value="Peekaboo" class="">Peekaboo</option>#}
                        {#<option value="Pendragon" class="">Pendragon</option>#}
                        {#<option value="PhantasmAdventure" class="">PhantasmAdventure</option>#}
                        {#<option value="RecordOfSteam" class="">RecordOfSteam</option>#}
                        {#<option value="RokumonSekai2" class="">RokumonSekai2</option>#}
                        {#<option value="RoleMaster" class="">RoleMaster</option>#}
                        {#<option value="RuneQuest" class="">RuneQuest</option>#}
                        {#<option value="Ryutama" class="">Ryutama</option>#}
                        {#<option value="Satasupe" class="">Satasupe</option>#}
                        {#<option value="ShadowRun" class="">ShadowRun</option>#}
                        {#<option value="ShadowRun4" class="">ShadowRun4</option>#}
                        {#<option value="SharedFantasia" class="">SharedFantasia</option>#}
                        {#<option value="ShinkuuGakuen" class="">ShinkuuGakuen</option>#}
                        {#<option value="ShinMegamiTenseiKakuseihen" class="">ShinMegamiTenseiKakuseihen</option>#}
                        {#<option value="ShinobiGami" class="">ShinobiGami</option>#}
                        {#<option value="ShoujoTenrankai" class="">ShoujoTenrankai</option>#}
                        {#<option value="SRS" class="">SRS</option>#}
                        {#<option value="SwordWorld" class="">SwordWorld</option>#}
                        <option value="SwordWorld2_0" class="">ソードワールド2.0</option>
                        {#<option value="TokumeiTenkousei" class="">TokumeiTenkousei</option>#}
                        {#<option value="TokyoNova" class="">TokyoNova</option>#}
                        {#<option value="Torg" class="">Torg</option>#}
                        {#<option value="Torg1_5" class="">Torg1_5</option>#}
                        {#<option value="TunnelsAndTrolls" class="">TunnelsAndTrolls</option>#}
                        {#<option value="TwilightGunsmoke" class="">TwilightGunsmoke</option>#}
                        {#<option value="Utakaze" class="">Utakaze</option>#}
                        {#<option value="WaresBlade" class="">WaresBlade</option>#}
                        {#<option value="Warhammer" class="">Warhammer</option>#}
                        {#<option value="WARPS" class="">WARPS</option>#}
                        {#<option value="WitchQuest" class="">WitchQuest</option>#}
                        {#<option value="ZettaiReido" class="">ZettaiReido</option>#}
                    </select>
                </div>
            </div>
        </div>
    </form>

    <form id="talk-form-system" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-2">
                <input disabled type="text" class="form-control" id="talk-name-system" value="system@INFO">
            </div>
            <div class="col-sm-1">
                <select disabled class="form-control select-color" id="talk-color-system">
                    <option value="#000000" class="black"></option>
                    <option value="#ffffff" class="white"></option>
                    <option value="#673ab7" class="deep-purple"></option>
                    <option value="#9c27b0" class="purple"></option>
                    <option value="#e91e63" class="pink"></option>
                    <option value="#f44336" class="red"></option>
                    <option value="#009688" class="teal"></option>
                    <option value="#00bcd4" class="cyan"></option>
                    <option value="#03a9f4" class="light-blue"></option>
                    <option value="#2196f3" class="blue"></option>
                    <option value="#3f51b5" class="indigo"></option>
                    <option value="#ffc107" class="amber"></option>
                    <option value="#ffeb3b" class="yellow"></option>
                    <option value="#cddc39" class="lime"></option>
                    <option value="#8bc34a" class="light-green"></option>
                    <option value="#4caf50" class="green"></option>
                    <option value="#607d8b" class="blue-gray"></option>
                    <option value="#9e9e9e" class="gray" selected></option>
                    <option value="#795548" class="brown"></option>
                    <option value="#ff5722" class="deep-orange"></option>
                    <option value="#ff9800" class="orange"></option>
                </select>
            </div>
            <div class="col-sm-9">
                <div class="input-group">
                    <textarea class="form-control" id="talk-message-system" rows="3" placeholder="messages"></textarea>
                    <span class="input-group-btn"><button class="btn btn-default" type="button" style="height:74px">Go!</button></span>
                </div>
            </div>
        </div>
        <input type="hidden" id="talk-message-webif-system" value="talk">
    </form>

    <form id="talk-form-gm" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-2">
                <input disabled type="text" class="form-control" id="talk-name-gm" value="naki@GM">
            </div>
            <div class="col-sm-1">
                <select disabled class="form-control select-color" id="talk-color-gm">
                    <option value="#000000" class="black"></option>
                    <option value="#ffffff" class="white"></option>
                    <option value="#673ab7" class="deep-purple" selected></option>
                    <option value="#9c27b0" class="purple"></option>
                    <option value="#e91e63" class="pink"></option>
                    <option value="#f44336" class="red"></option>
                    <option value="#009688" class="teal"></option>
                    <option value="#00bcd4" class="cyan"></option>
                    <option value="#03a9f4" class="light-blue"></option>
                    <option value="#2196f3" class="blue"></option>
                    <option value="#3f51b5" class="indigo"></option>
                    <option value="#ffc107" class="amber"></option>
                    <option value="#ffeb3b" class="yellow"></option>
                    <option value="#cddc39" class="lime"></option>
                    <option value="#8bc34a" class="light-green"></option>
                    <option value="#4caf50" class="green"></option>
                    <option value="#607d8b" class="blue-gray"></option>
                    <option value="#9e9e9e" class="gray"></option>
                    <option value="#795548" class="brown"></option>
                    <option value="#ff5722" class="deep-orange"></option>
                    <option value="#ff9800" class="orange"></option>
                </select>
            </div>
            <div class="col-sm-9">
                <div class="input-group">
                    <textarea class="form-control" id="talk-message-gm" rows="1" placeholder="messages"></textarea>
                    <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                </div>
            </div>
        </div>
        <input type="hidden" id="talk-message-webif-gm" value="talk">
    </form>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#set-room-info" data-toggle="tab">部屋情報</a></li>
                <li role="presentation"><a href="#add-character" data-toggle="tab">キャラ追加</a></li>
                <li role="presentation"><a href="#add-memo" data-toggle="tab">メモ追加</a></li>
                <li role="presentation"><a href="#talk" data-toggle="tab">会話</a></li>
                <li role="presentation"><a href="#add-preset-character" data-toggle="tab">キャラ追加(PRESET)</a></li>
                <li role="presentation"><a href="#talk-preset" data-toggle="tab">会話(PRESET)</a></li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <br>
        <div class="tab-pane fade in active" id="set-room-info">
            <form id="set-room-info-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-1 control-label">counter</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="set-room-info-counter" value="疲労,軽傷,重傷,致命傷,*行動済,*死亡">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">chatTab</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="set-room-info-chat-tab" value="メイン,雑談">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">roomName</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="set-room-info-room-name" value="ガーデンオーダー(ボッチ卓)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">outerImage</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="set-room-info-outer-image">
                            <option value="true">TRUE</option>
                            <option value="false" selected>FALSE</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">game</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="set-room-info-game" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">visit</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="set-room-info-visit">
                            <option value="true">TRUE</option>
                            <option value="false" selected>FALSE</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">callback</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="set-room-info-callback" value="">
                    </div>
                </div>
                <button class="btn btn-default" type="button">更新</button>
                <input type="hidden" id="set-room-info-webif" value="setRoomInfo">
            </form>
        </div>

        <div class="tab-pane fade" id="add-character">
            <form id="add-character-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-1 control-label">name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="add-character-name" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">counters</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="add-character-counters" value="疲労:99,軽傷:99,重傷:99,致命傷:99,*行動済:0,*死亡:0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">info</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="add-character-info" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">x</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="add-character-x" value="0">
                    </div>
                    <label class="col-sm-1 control-label">y</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="add-character-y" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">size</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="add-character-size" value="1">
                    </div>
                    <label class="col-sm-1 control-label">initiative</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="add-character-initiative" value="0">
                    </div>
                    <label class="col-sm-1 control-label">rotation</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="add-character-rotation" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">image</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="add-character-image" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">statusAlias</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="add-character-status-alias" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">dogTag</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="add-character-dog-tag" value="">
                    </div>
                    <label class="col-sm-1 control-label">draggable</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="add-character-draggable">
                            <option value="true" selected>TRUE</option>
                            <option value="false">FALSE</option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label">isHide</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="add-character-is-hide">
                            <option value="true" selected>TRUE</option>
                            <option value="false">FALSE</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">url</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="add-character-url" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">callback</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="add-character-callback" value="">
                    </div>
                </div>
                <button class="btn btn-default" type="button">追加</button>
                <input type="hidden" id="add-character-webif" value="addCharacter">
            </form>
        </div>

        <div class="tab-pane fade" id="add-memo">
            <form id="add-memo-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-1 control-label">message</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <textarea class="form-control" id="add-memo-message" rows="5" cols="80"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">callback</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="add-memo-callback" value="">
                    </div>
                </div>
                <button class="btn btn-default" type="button">追加</button>
                <input type="hidden" id="add-memo-webif" value="addMemo">
            </form>
        </div>

        <div class="tab-pane fade" id="talk">
            <form id="talk-form-1" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id=talk-name-1" value="" placeholder="name">
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control select-color" id="talk-color-1">
                            <option value="#000000" class="black" selected></option>
                            <option value="#ffffff" class="white"></option>
                            <option value="#673ab7" class="deep-purple"></option>
                            <option value="#9c27b0" class="purple"></option>
                            <option value="#e91e63" class="pink"></option>
                            <option value="#f44336" class="red"></option>
                            <option value="#009688" class="teal"></option>
                            <option value="#00bcd4" class="cyan"></option>
                            <option value="#03a9f4" class="light-blue"></option>
                            <option value="#2196f3" class="blue"></option>
                            <option value="#3f51b5" class="indigo"></option>
                            <option value="#ffc107" class="amber"></option>
                            <option value="#ffeb3b" class="yellow"></option>
                            <option value="#cddc39" class="lime"></option>
                            <option value="#8bc34a" class="light-green"></option>
                            <option value="#4caf50" class="green"></option>
                            <option value="#607d8b" class="blue-gray"></option>
                            <option value="#9e9e9e" class="gray"></option>
                            <option value="#795548" class="brown"></option>
                            <option value="#ff5722" class="deep-orange"></option>
                            <option value="#ff9800" class="orange"></option>
                        </select>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id=talk-message-1" value="" placeholder="messages">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="talk-message-webif-1" value="talk">
            </form>
            <form id="talk-form-2" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id=talk-name-2" value="" placeholder="name">
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control select-color" id="talk-color-2">
                            <option value="#000000" class="black" selected></option>
                            <option value="#ffffff" class="white"></option>
                            <option value="#673ab7" class="deep-purple"></option>
                            <option value="#9c27b0" class="purple"></option>
                            <option value="#e91e63" class="pink"></option>
                            <option value="#f44336" class="red"></option>
                            <option value="#009688" class="teal"></option>
                            <option value="#00bcd4" class="cyan"></option>
                            <option value="#03a9f4" class="light-blue"></option>
                            <option value="#2196f3" class="blue"></option>
                            <option value="#3f51b5" class="indigo"></option>
                            <option value="#ffc107" class="amber"></option>
                            <option value="#ffeb3b" class="yellow"></option>
                            <option value="#cddc39" class="lime"></option>
                            <option value="#8bc34a" class="light-green"></option>
                            <option value="#4caf50" class="green"></option>
                            <option value="#607d8b" class="blue-gray"></option>
                            <option value="#9e9e9e" class="gray"></option>
                            <option value="#795548" class="brown"></option>
                            <option value="#ff5722" class="deep-orange"></option>
                            <option value="#ff9800" class="orange"></option>
                        </select>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id=talk-message-2" value="" placeholder="messages">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="talk-message-webif-2" value="talk">
            </form>
            <form id="talk-form-3" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id=talk-name-3" value="" placeholder="name">
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control select-color" id="talk-color-3">
                            <option value="#000000" class="black" selected></option>
                            <option value="#ffffff" class="white"></option>
                            <option value="#673ab7" class="deep-purple"></option>
                            <option value="#9c27b0" class="purple"></option>
                            <option value="#e91e63" class="pink"></option>
                            <option value="#f44336" class="red"></option>
                            <option value="#009688" class="teal"></option>
                            <option value="#00bcd4" class="cyan"></option>
                            <option value="#03a9f4" class="light-blue"></option>
                            <option value="#2196f3" class="blue"></option>
                            <option value="#3f51b5" class="indigo"></option>
                            <option value="#ffc107" class="amber"></option>
                            <option value="#ffeb3b" class="yellow"></option>
                            <option value="#cddc39" class="lime"></option>
                            <option value="#8bc34a" class="light-green"></option>
                            <option value="#4caf50" class="green"></option>
                            <option value="#607d8b" class="blue-gray"></option>
                            <option value="#9e9e9e" class="gray"></option>
                            <option value="#795548" class="brown"></option>
                            <option value="#ff5722" class="deep-orange"></option>
                            <option value="#ff9800" class="orange"></option>
                        </select>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id=talk-message-3" value="" placeholder="messages">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="talk-message-webif-3" value="talk">
            </form>
            <form id="talk-form-4" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id=talk-name-4" value="" placeholder="name">
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control select-color" id="talk-color-4">
                            <option value="#000000" class="black" selected></option>
                            <option value="#ffffff" class="white"></option>
                            <option value="#673ab7" class="deep-purple"></option>
                            <option value="#9c27b0" class="purple"></option>
                            <option value="#e91e63" class="pink"></option>
                            <option value="#f44336" class="red"></option>
                            <option value="#009688" class="teal"></option>
                            <option value="#00bcd4" class="cyan"></option>
                            <option value="#03a9f4" class="light-blue"></option>
                            <option value="#2196f3" class="blue"></option>
                            <option value="#3f51b5" class="indigo"></option>
                            <option value="#ffc107" class="amber"></option>
                            <option value="#ffeb3b" class="yellow"></option>
                            <option value="#cddc39" class="lime"></option>
                            <option value="#8bc34a" class="light-green"></option>
                            <option value="#4caf50" class="green"></option>
                            <option value="#607d8b" class="blue-gray"></option>
                            <option value="#9e9e9e" class="gray"></option>
                            <option value="#795548" class="brown"></option>
                            <option value="#ff5722" class="deep-orange"></option>
                            <option value="#ff9800" class="orange"></option>
                        </select>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id=talk-message-4" value="" placeholder="messages">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="talk-message-webif-4" value="talk">
            </form>
            <form id="talk-form-5" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id=talk-name-5" value="" placeholder="name">
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control select-color" id="talk-color-5">
                            <option value="#000000" class="black" selected></option>
                            <option value="#ffffff" class="white"></option>
                            <option value="#673ab7" class="deep-purple"></option>
                            <option value="#9c27b0" class="purple"></option>
                            <option value="#e91e63" class="pink"></option>
                            <option value="#f44336" class="red"></option>
                            <option value="#009688" class="teal"></option>
                            <option value="#00bcd4" class="cyan"></option>
                            <option value="#03a9f4" class="light-blue"></option>
                            <option value="#2196f3" class="blue"></option>
                            <option value="#3f51b5" class="indigo"></option>
                            <option value="#ffc107" class="amber"></option>
                            <option value="#ffeb3b" class="yellow"></option>
                            <option value="#cddc39" class="lime"></option>
                            <option value="#8bc34a" class="light-green"></option>
                            <option value="#4caf50" class="green"></option>
                            <option value="#607d8b" class="blue-gray"></option>
                            <option value="#9e9e9e" class="gray"></option>
                            <option value="#795548" class="brown"></option>
                            <option value="#ff5722" class="deep-orange"></option>
                            <option value="#ff9800" class="orange"></option>
                        </select>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id=talk-message-5" value="" placeholder="messages">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="talk-message-webif-5" value="talk">
            </form>

        </div>

        <div class="tab-pane fade" id="add-preset-character">
            <form id="add-preset-character-form-unknown" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col-sm-2">
                        <input type="text" disabled class="form-control name" value="???">
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control counter" value="1">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control counters" value="" placeholder="xxxxx:1,xxxxx:1,*xxxxx:1">
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" disabled class="form-control info" value="Unknown">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="is-hide" value="true">
                <input type="hidden" class="webif" value="addCharacter">
            </form>
            <form id="add-preset-character-form-npc" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col-sm-2">
                        <input type="text" disabled class="form-control name" value="NPC">
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control counter" value="1">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control counters" value="" placeholder="xxxxx:1,xxxxx:1,*xxxxx:1">
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" disabled class="form-control info" value="Non Player Character">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="is-hide" value="true">
                <input type="hidden" class="webif" value="addCharacter">
            </form>
            <form id="add-preset-character-form-enemy" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col-sm-2">
                        <input type="text" disabled class="form-control name" value="ENEMY">
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control counter" value="1">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control counters" value="" placeholder="xxxxx:1,xxxxx:1,*xxxxx:1">
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" disabled class="form-control info" value="Your enemy">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="is-hide" value="true">
                <input type="hidden" class="webif" value="addCharacter">
            </form>
            <form id="add-preset-character-form-dummy" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control name" value="DUMMY">
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control counter" value="1">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control counters" value="" placeholder="xxxxx:1,xxxxx:1,*xxxxx:1">
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" disabled class="form-control info" value="">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="is-hide" value="true">
                <input type="hidden" class="webif" value="addCharacter">
            </form>
        </div>

        <div class="tab-pane fade" id="talk-preset">
            <form id="talk-preset-form-unknown" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input disabled type="text" class="form-control name" value="???">
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control counter" value="1">
                    </div>
                    <div class="col-sm-1">
                        <select disabled class="form-control select-color color">
                            <option value="#000000" class="black"></option>
                            <option value="#ffffff" class="white"></option>
                            <option value="#673ab7" class="deep-purple"></option>
                            <option value="#9c27b0" class="purple"></option>
                            <option value="#e91e63" class="pink"></option>
                            <option value="#f44336" class="red"></option>
                            <option value="#009688" class="teal"></option>
                            <option value="#00bcd4" class="cyan"></option>
                            <option value="#03a9f4" class="light-blue"></option>
                            <option value="#2196f3" class="blue"></option>
                            <option value="#3f51b5" class="indigo"></option>
                            <option value="#ffc107" class="amber"></option>
                            <option value="#ffeb3b" class="yellow"></option>
                            <option value="#cddc39" class="lime"></option>
                            <option value="#8bc34a" class="light-green"></option>
                            <option value="#4caf50" class="green"></option>
                            <option value="#607d8b" class="blue-gray"></option>
                            <option value="#9e9e9e" class="gray" selected></option>
                            <option value="#795548" class="brown"></option>
                            <option value="#ff5722" class="deep-orange"></option>
                            <option value="#ff9800" class="orange"></option>
                        </select>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control message" value="" placeholder="messages">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="webif" value="talk">
            </form>
            <form id="talk-preset-form-npc" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="text" disabled class="form-control name" value="NPC">
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control counter" value="1">
                    </div>
                    <div class="col-sm-1">
                        <select disabled class="form-control select-color color">
                            <option value="#000000" class="black"></option>
                            <option value="#ffffff" class="white"></option>
                            <option value="#673ab7" class="deep-purple"></option>
                            <option value="#9c27b0" class="purple"></option>
                            <option value="#e91e63" class="pink"></option>
                            <option value="#f44336" class="red"></option>
                            <option value="#009688" class="teal"></option>
                            <option value="#00bcd4" class="cyan"></option>
                            <option value="#03a9f4" class="light-blue"></option>
                            <option value="#2196f3" class="blue"></option>
                            <option value="#3f51b5" class="indigo"></option>
                            <option value="#ffc107" class="amber"></option>
                            <option value="#ffeb3b" class="yellow"></option>
                            <option value="#cddc39" class="lime"></option>
                            <option value="#8bc34a" class="light-green"></option>
                            <option value="#4caf50" class="green"></option>
                            <option value="#607d8b" class="blue-gray"></option>
                            <option value="#9e9e9e" class="gray" selected></option>
                            <option value="#795548" class="brown"></option>
                            <option value="#ff5722" class="deep-orange"></option>
                            <option value="#ff9800" class="orange"></option>
                        </select>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control message" value="" placeholder="messages">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="webif" value="talk">
            </form>
            <form id="talk-preset-form-enemy" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input disabled type="text" class="form-control name" value="ENEMY">
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control counter" value="1">
                    </div>
                    <div class="col-sm-1">
                        <select disabled class="form-control select-color color">
                            <option value="#000000" class="black"></option>
                            <option value="#ffffff" class="white"></option>
                            <option value="#673ab7" class="deep-purple"></option>
                            <option value="#9c27b0" class="purple"></option>
                            <option value="#e91e63" class="pink"></option>
                            <option value="#f44336" class="red" selected></option>
                            <option value="#009688" class="teal"></option>
                            <option value="#00bcd4" class="cyan"></option>
                            <option value="#03a9f4" class="light-blue"></option>
                            <option value="#2196f3" class="blue"></option>
                            <option value="#3f51b5" class="indigo"></option>
                            <option value="#ffc107" class="amber"></option>
                            <option value="#ffeb3b" class="yellow"></option>
                            <option value="#cddc39" class="lime"></option>
                            <option value="#8bc34a" class="light-green"></option>
                            <option value="#4caf50" class="green"></option>
                            <option value="#607d8b" class="blue-gray"></option>
                            <option value="#9e9e9e" class="gray"></option>
                            <option value="#795548" class="brown"></option>
                            <option value="#ff5722" class="deep-orange"></option>
                            <option value="#ff9800" class="orange"></option>
                        </select>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control message" value="" placeholder="messages">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="webif" value="talk">
            </form>
        </div>

    </div>
</div>
<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright (C) 2016-<span id="year">20XX</span> <a href="https://twitter.com/nakigao">@nakigao</a>. All Rights Reserved.</p>
            </div>
        </div>
    </section>
</div>
<script src="{{ app.request.baseUrl }}/assets/js/jquery.min.js"></script>
<script src="{{ app.request.baseUrl }}/assets/js/jquery.jsonp.min.js"></script>
<script src="{{ app.request.baseUrl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ app.request.baseUrl }}/assets/js/tools-gmsupport.js"></script>
<script type='text/javascript'>
    <!--
    (function () {
        var login = '',
                fpf = true,
                fpn = '__ulfpc';

// DO NOT ALTER BELOW THIS LINE
        var id = 6018141, h = '2f74';
        var rand = rand || Math.floor(Math.random() * 9000000) + 1000000;
        if ('http:' == document.location.protocol) {
            var params = {
                id: id,
                lt: 3,
                h: h,
                url: document.URL,
                ref: document.referrer,
                lg: login,
                rand: rand,
                bw: (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth != 0 ? document.documentElement.clientWidth : (document.body ? document.body.clientWidth : 0 ))),
                bh: (window.innerHeight ? window.innerHeight : (document.documentElement && document.documentElement.clientHeight != 0 ? document.documentElement.clientHeight : (document.body ? document.body.clientHeight : 0 ))),
                dpr: (window.devicePixelRatio != undefined ? window.devicePixelRatio : 0),
                sw: screen.width,
                sh: screen.height,
                dpr: (window.devicePixelRatio != undefined ? window.devicePixelRatio : 0),
                sb: document.title,
                guid: 'ON'
            };
            if (fpf) {
                params.fp = getuid(fpn);
            }
            params.eflg = 1;
            var a = document.createElement('a');
            var lg = document.createElement('img');
            lg.setAttribute('id', '_ullogimgltr');
            lg.setAttribute('width', 1);
            lg.setAttribute('height', 1);
            lg.setAttribute('alt', '');
            var src = 'http://le.nakanohito.jp/le/1/?';
            for (var key in params) src = src.concat(key + '=' + encodeURIComponent(params[key]) + '&');
            lg.src = src.slice(0, -1);
            a.setAttribute('href', 'http://smartphone.userlocal.jp/');
            a.setAttribute('target', '_blank');
            a.appendChild(lg);
            var s = document.getElementsByTagName('body')[0];
            s.appendChild(a);
        }
        function getuid(key) {
            var arr = [], date = new Date(), exp = new Date();
            exp.setFullYear(exp.getFullYear() + 7);
            if (document.cookie) {
                arr = document.cookie.split(";");
                for (var i = 0; i < arr.length; i++) {
                    var str = arr[i].replace(/^\s+|\s+$/g, "");
                    var len = str.indexOf('=');
                    if (str.substring(0, len) == key)return unescape(str.slice(len + 1));
                }
            }
            var r = randobet(4);
            var m = date.getMonth() + 1, d = date.getDate(), h = date.getHours(), i = date.getMinutes(), s = date.getSeconds();
            var num = String(date.getFullYear()) + (String(m).length == 1 ? '0' : '' ) + String(m) + (String(d).length == 1 ? '0' : '' ) + String(d) + (String(h).length == 1 ? '0' : '' ) + String(h) + (String(i).length == 1 ? '0' : '' ) + String(i) + (String(s).length == 1 ? '0' : '' ) + String(s) + String(r);
            document.cookie = key + '=' + num + '_f; expires=' + (new Date(exp).toUTCString()) + '; domain=' + location.hostname;
            return num + '_f';
        }

        function randobet(n) {
            var a = '123456789'.split(''), s = '';
            for (var i = 0; i < n; i++) s += a[Math.floor(Math.random() * a.length)];
            return s;
        };
    })();
    //-->
</script>
<noscript>
    <a href='http://smartphone.userlocal.jp/' target='_blank'><img src='http://le.nakanohito.jp/le/1/?id=6018141&h=2f74&lt=3&guid=ON&eflg=1' alt='スマートフォン解析' height='1' width='1' border='0'/></a>
</noscript>
<script>
    $('#year').text(new Date().getFullYear());
</script>
</body>
</html>