{# base layout - fix top #}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include 'meta.twig' %}
    <title>{% block title %}{{ page_title }} | {{ site_title }}{% endblock %}</title>
    <link href="{{ base_url }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/layout.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/site.css" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% include 'navbar-top.twig' %}
<div class="container-fluid" style="margin-top:6px;">
    {% block body %}{% endblock %}
</div>
<footer class="footer">
    <div class="container">
        <p>Copyright (C) 2016-{{ "now"|date("Y") }} <a href="https://twitter.com/nakigao">@nakigao</a>. All Rights Reserved.</p>
    </div>
</footer>
<script src="{{ base_url }}/assets/js/jquery.min.js"></script>
<script src="{{ base_url }}/assets/js/jquery.jsonp.min.js"></script>
<script src="{{ base_url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ base_url }}/assets/js/site.js"></script>
{% block javascript %}{% endblock %}
{% include 'user-local-access-analyze.twig' %}
</body>
</html>