{# layout for replay #}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include 'meta.twig' %}
    <title>{% block title %}{{ page_title }} | {{ site_title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_url }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/font-face.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/replay-new.css">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<section id="sticky-header" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div style="margin: 2em 0 1em 0;">
                <div style="float: left; margin-right: 12px;">
                    <a class="btn btn-default" href="{{ base_url }}/replay/#{{ rule }}" role="button" data-toggle="tooltip" data-placement="bottom" data-original-title="リプレイ目次"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                </div>
                <div class="dropdown" style="float: left; margin-right: 12px;">
                    {#<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="min-width: 7em;">PART SELECT&nbsp;<span class="caret"></span></button>#}
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="min-width: 7em;">
                        {% for part in part_list %}
                            {% if part.is_active == true %}{{ part.part_name }}&nbsp;<span class="caret"></span>{% endif %}
                        {% endfor %}
                    </button>
                    <ul class="dropdown-menu" style="padding: 0;">
                        {% for part in part_list %}
                            <li class="{% if part.is_active == true %}active{% endif %}"><a class="" href="{{ base_url }}{{ part.url }}" role="button" style="padding: 12px 24px;">{{ part.part_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div style="float: left;">
                    <a id="go-to-top" class="btn btn-default" href="javascript:void(0);" style="margin-right: 6px;" role="button" data-toggle="tooltip" data-placement="bottom" data-original-title="START"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
                    {# ここにページアンカーへのジャンプボタンが自動挿入 #}
                    <a id="go-to-bottom" class="btn btn-default" href="javascript:void(0);" role="button" data-toggle="tooltip" data-placement="bottom" data-original-title="END"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="replay-header" class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>{{ rule_title }}リプレイ&nbsp;/&nbsp;{{ series_title }}</p>
            <h1 style="margin-top: 0;">{{ episode_prefix }}「{{ episode_title }}」{{ part_title }}</h1>
        </div>
    </div>
</section>
{% block body %}{% endblock %}
<section id="replay-go-to-next-part" class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            {% if next_part %}
                <a class="btn btn-default" href="{{ base_url }}{{ next_part.url }}" role="button" style="padding: 12px 24px; margin: 64px auto 0 auto;">GO TO NEXT PART&nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container" style="margin-top: 30px;">
        <p>Copyright (C) 2016-{{ "now"|date("Y") }} <a href="https://twitter.com/nakigao">@nakigao</a>. All Rights Reserved.</p>
    </div>
</footer>
{% include 'replay/page-navigate-anchor.mustache' %}
<script src="{{ base_url }}/assets/js/jquery.min.js"></script>
<script src="{{ base_url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ base_url }}/assets/js/mustache.min.js"></script>
<script src="{{ base_url }}/assets/js/jquery.sticky.js"></script>
<script src="{{ base_url }}/assets/js/jquery.scrollTo.min.js"></script>
<script src="{{ base_url }}/assets/js/jquery.waypoints.min.js"></script>
<script src="{{ base_url }}/assets/js/replay.js"></script>
{% block javascripts %}{% endblock %}
{% include 'user-local-access-analyze.twig' %}
</body>
</html>