{# replay layout #}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include 'meta.twig' %}
    <title>{% block title %}{{ page_title }} | {{ site_title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_url }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/replay-new.css">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<section id="sticky-header" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div style="margin: 2em 0 1em 0;">
                <a class="btn btn-default" href="/replay" role="button"><i class="fa fa-home" aria-hidden="true"></i></a>
                <span style="display:inline-block;width: 28px;text-align: center;"></span>
                <a id="go-to-prev" class="btn btn-default" href="javascript:void(0);" role="button" data-toggle="tooltip" data-placement="bottom" data-original-title="前のリプレイへ(未実装)"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <a id="go-to-top" class="btn btn-default" href="javascript:void(0);" role="button" data-toggle="tooltip" data-placement="bottom" data-original-title="START"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
                {# ここにページアンカーへのジャンプボタンが自動挿入 #}
                <a id="go-to-bottom" class="btn btn-default" href="javascript:void(0);" role="button" data-toggle="tooltip" data-placement="bottom" data-original-title="END"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <a id="go-to-next" class="btn btn-default" href="javascript:void(0);" role="button" data-toggle="tooltip" data-placement="bottom" data-original-title="次のリプレイへ(未実装)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="replay-header" class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>{{ replay_rule }}リプレイ&nbsp;/&nbsp;{{ replay_series_title }}</p>
            <h1 style="margin-top: 0;">{{ replay_title }}{{ replay_menu_title }}</h1>
        </div>
    </div>
</section>
<section id="replay-user" class="container">
    {% for user in pl_list %}
        <div class="row">
            <div class="col-sm-2 text-right {{ user.class }}">{{ user.name }}@PL</div>
            <div class="col-sm-10">{{ user.pl_comment }}</div>
        </div>
    {% endfor %}
    {% for user in gm_list %}
        <div class="row">
            <div class="col-sm-2 text-right {{ user.class }}">{{ user.name }}@GM</div>
            <div class="col-sm-10">{{ user.gm_comment }}</div>
        </div>
    {% endfor %}
</section>
{% block body %}{% endblock %}
<footer class="footer">
    <div class="container" style="margin-top: 30px;">
        <p>Copyright (C) 2016-{{ "now"|date("Y") }} <a href="https://twitter.com/nakigao">@nakigao</a>. All Rights Reserved.</p>
    </div>
</footer>
<script src="{{ base_url }}/assets/js/jquery.min.js"></script>
<script src="{{ base_url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ base_url }}/assets/js/jquery.sticky.js"></script>
<script src="{{ base_url }}/assets/js/jquery.scrollTo.min.js"></script>
<script src="{{ base_url }}/assets/js/jquery.waypoints.min.js"></script>
<script>
    $(function() {
        $('#sticky-header').sticky({
            topSpacing: 0,
            zIndex: 1000,
            center: true,
        });
        $('#go-to-top').on('click', function(e) {
            e.preventDefault();
            $(window).scrollTo(0, 'fast');
        });
        $(document).on('click', '[data-role="jump-to-anchor"]', function(e) {
            e.preventDefault();
            var targetId = '#page-section-' + $(this).data('id');
            $(window).scrollTo($(targetId), {
                offset: -80,
                duration: 'slow',
            });
        });
        $('#go-to-bottom').on('click', function(e) {
            e.preventDefault();
            $(window).scrollTo($(document).height(), 'fast');
        });
        var pageSectionIndex = 1;
        $('h2').each(function() {
            // セクションボタンの設定
            var prevId = (pageSectionIndex - 1);
            var id = pageSectionIndex;
            var nextId = (pageSectionIndex + 1);
            $(this).attr('id', 'page-section-' + id);
            $(this).attr('data-prev-id', prevId);
            $(this).attr('data-id', id);
            $(this).attr('data-next-id', nextId);
            $('#go-to-bottom').before('<a data-prev-id="' + prevId + '" data-next-id="' + nextId + '" data-id="' + id + '" class="btn btn-default" style="margin-right: 4px;" role="button" data-role="jump-to-anchor" data-toggle="tooltip" data-placement="bottom" data-original-title="' + $(this).text() + '">' + pageSectionIndex + '</a>');
            pageSectionIndex += 1;
            // waypointの設定
            var waypoint = new Waypoint({
                element: $(this),
                handler: function(direction) {
                    var prevId = this.element.data('prev-id');
                    var id = this.element.data('id');
                    var nextId = this.element.data('next-id');
                    if (direction == 'up') {
                        $('#sticky-header').find('[data-id="' + prevId + '"]').addClass('active');
                        $('#sticky-header').find('[data-id="' + id + '"]').removeClass('active');
                    } else if (direction == 'down') {
                        $('#sticky-header').find('[data-id="' + id + '"]').addClass('active');
                        $('#sticky-header').find('[data-id="' + prevId + '"]').removeClass('active');
                    }
                },
                offset: 100
            });
        });
        $('[data-toggle="tooltip"]').tooltip({
            'container': 'body',
        });
    });
</script>
{% block javascript %}{% endblock %}
{% include 'user-local-access-analyze.twig' %}
</body>
</html>