{# base layout 2 - fix top and left sidebar #}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="参加したリプレイを中心に、TRPG関連で作ったものをひっそりと置いています。TRPG、リプレイ、ソードワールド2.0リプレイ、ガーデンオーダーリプレイ、マスカレイドスタイルリプレイ、すくぱに♪リプレイ">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>{% block title %}{{ page_title }} | {{ site_title }}{% endblock %}</title>
    <link href="{{ base_url }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/layout.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/site.css" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% include 'navbar-top.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block left %}{% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block body %}{% endblock %}
            <div class="row" style="margin-top: 1.5em;">
                <div class="col-sm-12">
                    <p>Copyright (C) 2016-<span id="year">20XX</span> <a href="https://twitter.com/nakigao">@nakigao</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ base_url }}/assets/js/jquery.min.js"></script>
<script src="{{ base_url }}/assets/js/jquery.jsonp.min.js"></script>
<script src="{{ base_url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ base_url }}/assets/js/site.js"></script>
{% block javascript %}{% endblock %}
{% include 'user-local-access-analyze.twig' %}
</body>
</html>