{% set requestUri = global.getRequest.getRequestUri() %}
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 style="margin-top: 18px; margin-left: 38px;"><a href="/"><img class="site-symbol" src="{{ base_url }}/assets/img/site-symbol.png" alt="">NAKIGAO TRPG ARCHIVES</a></h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if requestUri matches '(/replay)' %}class="active"{% endif %}><a href="{{ base_url }}/replay" data-toggle="tooltip" data-placement="bottom" data-original-title="セッションのリプレイ集">REPLAYS</a></li>
                <li {% if requestUri matches '(/gm-support-tool)' %}class="active"{% endif %}><a href="{{ base_url }}/gm-support-tool" data-toggle="tooltip" data-placement="bottom" data-original-title="TRPG GM SUPPORT TOOLS FOR DodontoF API">GM</a></li>
                <li {% if requestUri matches '(/pl-support-tool)' %}class="active"{% endif %}><a href="{{ base_url }}/pl-support-tool" data-toggle="tooltip" data-placement="bottom" data-original-title="TRPG PL SUPPORT TOOLS FOR DodontoF API">PL</a></li>
                <li {% if requestUri matches '(/convert-support-tool)' %}class="active"{% endif %}><a href="{{ base_url }}/convert-support-tool" data-toggle="tooltip" data-placement="bottom" data-original-title="CONVERT SUPPORT TOOL">CONV</a></li>
                <li {% if requestUri matches '(/makeyoudays)' %}class="active"{% endif %}><a href="{{ base_url }}/makeyoudays" data-toggle="tooltip" data-placement="bottom" data-original-title="迷宮デイズキャラクター保管庫(β)">M-DAYS</a></li>
                <li {% if requestUri matches '(/shnb)' %}class="active"{% endif %}><a href="{{ base_url }}/shnb" data-toggle="tooltip" data-placement="bottom" data-original-title="シノビガミランダムジェネレーター(β)">SHNB</a></li>
                <li {% if requestUri matches '(/gror)' %}class="active"{% endif %}><a href="{{ base_url }}/gror" data-toggle="tooltip" data-placement="bottom" data-original-title="ガーデンオーダーエネミーキャラクターDB(β)">GROR</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li {% if requestUri matches '(/about)' %}class="active"{% endif %}><a href="{{ base_url }}/about"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
