{#views/charactersheets/meikyudays/base.html.twig#}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="迷宮デイズTRPGキャラクターシート">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ global.request.baseUrl }}/assets/css/bootstrap.min.css">
    {% block stylesheets %}
        {#CUSTOM STYLESHEETS HERE#}
    {% endblock %}
    <title>{% block title %}迷宮デイズキャラクター保管庫(β){% endblock %}</title>
</head>
<body>
<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-12">
                |
                <a href="{{ global.request.baseUrl }}/charactersheets/meikyudays/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>HOME</a>
                |
                <a href="{{ global.request.baseUrl }}/charactersheets/meikyudays/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>NEW</a>
                |
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-12">
                <h1>{% block page_header %}迷宮デイズキャラクター保管庫(β){% endblock %}</h1>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section>
        {% block body %}
            {#MAIN CONTENTS HERE#}
        {% endblock %}
    </section>
</div>
<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <p>Copyright (C) 2016-<span id="year">20XX</span> <a href="https://twitter.com/nakigao">@nakigao</a>. All Rights Reserved.</p>
                <p style="font-size: x-small">本Webサイトで紹介させていただいている"迷宮デイズ"および"Make you Days"は、<a target="_blank" href="http://www.bouken.jp/">冒険企画局(Adventure Planning Service)</a>様の著作物です。 </p>
            </div>
        </div>
    </section>
</div>
<script src="{{ global.request.baseUrl }}/assets/js/jquery.min.js"></script>
<script src="{{ global.request.baseUrl }}/assets/js/bootstrap.min.js"></script>
<script>
    $('#year').text(new Date().getFullYear());
</script>
<script src="{{ global.request.baseUrl }}/assets/js/charactersheets-meikyudays.js"></script>
{% block javascripts %}
    {#CUSTOM JAVASCRIPTS HERE#}
{% endblock %}
</body>
</html>