{#views/charactersheets/meikyudays/index.html.twig#}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>{{ pageName }} | {{ commonVariables.siteName }}</title>
</head>
<body>
<h1>{{ pageName }}</h1>
<form action="{{ app.request.baseUrl }}/charactersheets/meikyudays/{{ nextAction }}" method="post" class="">

    <div>password<input type='password' name='sheet[password]' {% if sheet.password is defined %}value='{{ sheet.password }}'{% endif %} /></div>
    <div>PL名前<input type='text' name='sheet[player_name]' {% if sheet.player_name is defined %}value='{{ sheet.player_name }}'{% endif %} /></div>

    <div>名前<input type='text' name='sheet[character_name]' {% if sheet.character_name is defined %}value='{{ sheet.character_name }}'{% endif %} /></div>
    <div>性別<input type='text' name='sheet[gender]' {% if sheet.gender is defined %}value='{{ sheet.gender }}'{% endif %} /></div>
    <div>年齢<input type='number' name='sheet[age]' {% if sheet.age is defined %}value='{{ sheet.age }}'{% endif %} /></div>
    <div>個性<textarea name='sheet[personality]' rows='4' cols='40'>{% if sheet.personality is defined %}{{ sheet.personality }}{% endif %}</textarea></div>

    <div>好きなもの1<input type='text' name='sheet[like1]' {% if sheet.like1 is defined %}value='{{ sheet.like1 }}'{% endif %} /></div>
    <div>好きなもの2<input type='text' name='sheet[like2]' {% if sheet.like2 is defined %}value='{{ sheet.like2 }}'{% endif %} /></div>
    <div>好きなもの3<input type='text' name='sheet[like3]' {% if sheet.like3 is defined %}value='{{ sheet.like3 }}'{% endif %} /></div>

    <div>嫌いなもの1<input type='text' name='sheet[hate1]' {% if sheet.hate1 is defined %}value='{{ sheet.hate1 }}'{% endif %} /></div>
    <div>嫌いなもの2<input type='text' name='sheet[hate2]' {% if sheet.hate2 is defined %}value='{{ sheet.hate2 }}'{% endif %} /></div>
    <div>嫌いなもの3<input type='text' name='sheet[hate3]' {% if sheet.hate3 is defined %}value='{{ sheet.hate3 }}'{% endif %} /></div>

    <div>レベル<input type='number' name='sheet[level]' {% if sheet.level is defined %}value='{{ sheet.level }}'{% endif %} /></div>
    <div>クラス<input type='text' name='sheet[class]' {% if sheet.class is defined %}value='{{ sheet.class }}'{% endif %} /></div>
    <div>使用済み経験点<input type='number' name='sheet[used_exp]' {% if sheet.used_exp is defined %}value='{{ sheet.used_exp }}'{% endif %} /></div>
    <div>総経験点<input type='number' name='sheet[total_exp]' {% if sheet.total_exp is defined %}value='{{ sheet.total_exp }}'{% endif %} /></div>

    <div>預金<input type='number' name='sheet[deposit]' {% if sheet.deposit is defined %}value='{{ sheet.deposit }}'{% endif %} /></div>

    <div>才覚<input type='number' name='sheet[intelligence]' {% if sheet.intelligence is defined %}value='{{ sheet.intelligence }}'{% endif %} /></div>
    <div>魅力<input type='number' name='sheet[charisma]' {% if sheet.charisma is defined %}value='{{ sheet.charisma }}'{% endif %} /></div>
    <div>探索<input type='number' name='sheet[survival]' {% if sheet.survival is defined %}value='{{ sheet.survival }}'{% endif %} /></div>
    <div>武勇<input type='number' name='sheet[strength]' {% if sheet.strength is defined %}value='{{ sheet.strength }}'{% endif %} /></div>

    <div>HP<input type='number' name='sheet[hitpoint]' {% if sheet.hitpoint is defined %}value='{{ sheet.hitpoint }}'{% endif %} /></div>
    <div>器<input type='number' name='sheet[capacity]' {% if sheet.capacity is defined %}value='{{ sheet.capacity }}'{% endif %} /></div>
    <div>回避値<input type='number' name='sheet[dexterity]' {% if sheet.dexterity is defined %}value='{{ sheet.dexterity }}'{% endif %} /></div>
    <div>配下<input type='number' name='sheet[followers]' {% if sheet.followers is defined %}value='{{ sheet.followers }}'{% endif %} /></div>

    <div>スキル1<input type='text' name='sheet[skill1]' {% if sheet.skill1 is defined %}value='{{ sheet.skill1 }}'{% endif %} /></div>
    <div>スキル1_説明<input type='text' name='sheet[skill1_description]' {% if sheet.skill1_description is defined %}value='{{ sheet.skill1_description }}'{% endif %} /></div>
    <div>スキル2<input type='text' name='sheet[skill2]' {% if sheet.skill2 is defined %}value='{{ sheet.skill2 }}'{% endif %} /></div>
    <div>スキル2_説明<input type='text' name='sheet[skill2_description]' {% if sheet.skill2_description is defined %}value='{{ sheet.skill2_description }}'{% endif %} /></div>
    <div>スキル3<input type='text' name='sheet[skill3]' {% if sheet.skill3 is defined %}value='{{ sheet.skill3 }}'{% endif %} /></div>
    <div>スキル3_説明<input type='text' name='sheet[skill3_description]' {% if sheet.skill3_description is defined %}value='{{ sheet.skill3_description }}'{% endif %} /></div>
    <div>スキル4<input type='text' name='sheet[skill4]' {% if sheet.skill4 is defined %}value='{{ sheet.skill4 }}'{% endif %} /></div>
    <div>スキル4_説明<input type='text' name='sheet[skill4_description]' {% if sheet.skill4_description is defined %}value='{{ sheet.skill4_description }}'{% endif %} /></div>
    <div>スキル5<input type='text' name='sheet[skill5]' {% if sheet.skill5 is defined %}value='{{ sheet.skill5 }}'{% endif %} /></div>
    <div>スキル5_説明<input type='text' name='sheet[skill5_description]' {% if sheet.skill5_description is defined %}value='{{ sheet.skill5_description }}'{% endif %} /></div>
    <div>スキル6<input type='text' name='sheet[skill6]' {% if sheet.skill6 is defined %}value='{{ sheet.skill6 }}'{% endif %} /></div>
    <div>スキル6_説明<input type='text' name='sheet[skill6_description]' {% if sheet.skill6_description is defined %}value='{{ sheet.skill6_description }}'{% endif %} /></div>
    <div>スキル7<input type='text' name='sheet[skill7]' {% if sheet.skill7 is defined %}value='{{ sheet.skill7 }}'{% endif %} /></div>
    <div>スキル7_説明<input type='text' name='sheet[skill7_description]' {% if sheet.skill7_description is defined %}value='{{ sheet.skill7_description }}'{% endif %} /></div>
    <div>スキル8<input type='text' name='sheet[skill8]' {% if sheet.skill8 is defined %}value='{{ sheet.skill8 }}'{% endif %} /></div>
    <div>スキル8_説明<input type='text' name='sheet[skill8_description]' {% if sheet.skill8_description is defined %}value='{{ sheet.skill8_description }}'{% endif %} /></div>
    <div>スキル9<input type='text' name='sheet[skill9]' {% if sheet.skill9 is defined %}value='{{ sheet.skill9 }}'{% endif %} /></div>
    <div>スキル9_説明<input type='text' name='sheet[skill9_description]' {% if sheet.skill9_description is defined %}value='{{ sheet.skill9_description }}'{% endif %} /></div>
    <div>スキル10<input type='text' name='sheet[skill10]' {% if sheet.skill10 is defined %}value='{{ sheet.skill10 }}'{% endif %} /></div>
    <div>スキル10_説明<input type='text' name='sheet[skill10_description]' {% if sheet.skill10_description is defined %}value='{{ sheet.skill10_description }}'{% endif %} /></div>
    <div>スキル11<input type='text' name='sheet[skill11]' {% if sheet.skill11 is defined %}value='{{ sheet.skill11 }}'{% endif %} /></div>
    <div>スキル11_説明<input type='text' name='sheet[skill11_description]' {% if sheet.skill11_description is defined %}value='{{ sheet.skill11_description }}'{% endif %} /></div>
    <div>スキル12<input type='text' name='sheet[skill12]' {% if sheet.skill12 is defined %}value='{{ sheet.skill12 }}'{% endif %} /></div>
    <div>スキル12_説明<input type='text' name='sheet[skill12_description]' {% if sheet.skill12_description is defined %}value='{{ sheet.skill12_description }}'{% endif %} /></div>

    <div>アイテム1<input type='text' name='sheet[item1]' {% if sheet.item1 is defined %}value='{{ sheet.item1 }}'{% endif %} /></div>
    <div>アイテム1_所持数<input type='number' name='sheet[item1_count]' {% if sheet.item1_count is defined %}value='{{ sheet.item1_count }}'{% endif %} /></div>
    <div>アイテム1_説明<input type='text' name='sheet[item1_description]' {% if sheet.item1_description is defined %}value='{{ sheet.item1_description }}'{% endif %} /></div>
    <div>アイテム2<input type='text' name='sheet[item2]' {% if sheet.item2 is defined %}value='{{ sheet.item2 }}'{% endif %} /></div>
    <div>アイテム2_所持数<input type='number' name='sheet[item2_count]' {% if sheet.item2_count is defined %}value='{{ sheet.item2_count }}'{% endif %} /></div>
    <div>アイテム2_説明<input type='text' name='sheet[item2_description]' {% if sheet.item2_description is defined %}value='{{ sheet.item2_description }}'{% endif %} /></div>
    <div>アイテム3<input type='text' name='sheet[item3]' {% if sheet.item3 is defined %}value='{{ sheet.item3 }}'{% endif %} /></div>
    <div>アイテム3_所持数<input type='number' name='sheet[item3_count]' {% if sheet.item3_count is defined %}value='{{ sheet.item3_count }}'{% endif %} /></div>
    <div>アイテム3_説明<input type='text' name='sheet[item3_description]' {% if sheet.item3_description is defined %}value='{{ sheet.item3_description }}'{% endif %} /></div>
    <div>アイテム4<input type='text' name='sheet[item4]' {% if sheet.item4 is defined %}value='{{ sheet.item4 }}'{% endif %} /></div>
    <div>アイテム4_所持数<input type='number' name='sheet[item4_count]' {% if sheet.item4_count is defined %}value='{{ sheet.item4_count }}'{% endif %} /></div>
    <div>アイテム4_説明<input type='text' name='sheet[item4_description]' {% if sheet.item4_description is defined %}value='{{ sheet.item4_description }}'{% endif %} /></div>
    <div>アイテム5<input type='text' name='sheet[item5]' {% if sheet.item5 is defined %}value='{{ sheet.item5 }}'{% endif %} /></div>
    <div>アイテム5_所持数<input type='number' name='sheet[item5_count]' {% if sheet.item5_count is defined %}value='{{ sheet.item5_count }}'{% endif %} /></div>
    <div>アイテム5_説明<input type='text' name='sheet[item5_description]' {% if sheet.item5_description is defined %}value='{{ sheet.item5_description }}'{% endif %} /></div>
    <div>アイテム6<input type='text' name='sheet[item6]' {% if sheet.item6 is defined %}value='{{ sheet.item6 }}'{% endif %} /></div>
    <div>アイテム6_所持数<input type='number' name='sheet[item6_count]' {% if sheet.item6_count is defined %}value='{{ sheet.item6_count }}'{% endif %} /></div>
    <div>アイテム6_説明<input type='text' name='sheet[item6_description]' {% if sheet.item6_description is defined %}value='{{ sheet.item6_description }}'{% endif %} /></div>

    <div>素材3肉<input type='number' name='sheet[material3]' {% if sheet.material3 is defined %}value='{{ sheet.material3 }}'{% endif %} /></div>
    <div>素材4牙<input type='number' name='sheet[material4]' {% if sheet.material4 is defined %}value='{{ sheet.material4 }}'{% endif %} /></div>
    <div>素材5鉄<input type='number' name='sheet[material5]' {% if sheet.material5 is defined %}value='{{ sheet.material5 }}'{% endif %} /></div>
    <div>素材6魔素<input type='number' name='sheet[material6]' {% if sheet.material6 is defined %}value='{{ sheet.material6 }}'{% endif %} /></div>
    <div>素材7機械<input type='number' name='sheet[material7]' {% if sheet.material7 is defined %}value='{{ sheet.material7 }}'{% endif %} /></div>
    <div>素材8衣料<input type='number' name='sheet[material8]' {% if sheet.material8 is defined %}value='{{ sheet.material8 }}'{% endif %} /></div>
    <div>素材9木<input type='number' name='sheet[material9]' {% if sheet.material9 is defined %}value='{{ sheet.material9 }}'{% endif %} /></div>
    <div>素材10火薬<input type='number' name='sheet[material10]' {% if sheet.material10 is defined %}value='{{ sheet.material10 }}'{% endif %} /></div>
    <div>素材11情報<input type='number' name='sheet[material11]' {% if sheet.material11 is defined %}value='{{ sheet.material11 }}'{% endif %} /></div>
    <div>素材12革<input type='number' name='sheet[material12]' {% if sheet.material12 is defined %}value='{{ sheet.material12 }}'{% endif %} /></div>

    <div>感情値1_人物<input type='text' name='sheet[feeling1_name]' {% if sheet.feeling1_name is defined %}value='{{ sheet.feeling1_name }}'{% endif %} /></div>
    <div>感情値1_忠義<input type='number' name='sheet[feeling1_loyalty]' {% if sheet.feeling1_loyalty is defined %}value='{{ sheet.feeling1_loyalty }}'{% endif %} /></div>
    <div>感情値1_友情<input type='number' name='sheet[feeling1_friendship]' {% if sheet.feeling1_friendship is defined %}value='{{ sheet.feeling1_friendship }}'{% endif %} /></div>
    <div>感情値1_愛情<input type='number' name='sheet[feeling1_love]' {% if sheet.feeling1_love is defined %}value='{{ sheet.feeling1_love }}'{% endif %} /></div>
    <div>感情値1_怒り<input type='number' name='sheet[feeling1_rage]' {% if sheet.feeling1_rage is defined %}value='{{ sheet.feeling1_rage }}'{% endif %} /></div>
    <div>感情値1_不信<input type='number' name='sheet[feeling1_distrust]' {% if sheet.feeling1_distrust is defined %}value='{{ sheet.feeling1_distrust }}'{% endif %} /></div>
    <div>感情値1_敵意<input type='number' name='sheet[feeling1_hostility]' {% if sheet.feeling1_hostility is defined %}value='{{ sheet.feeling1_hostility }}'{% endif %} /></div>
    <div>感情値2_人物<input type='text' name='sheet[feeling2_name]' {% if sheet.feeling2_name is defined %}value='{{ sheet.feeling2_name }}'{% endif %} /></div>
    <div>感情値2_忠義<input type='number' name='sheet[feeling2_loyalty]' {% if sheet.feeling2_loyalty is defined %}value='{{ sheet.feeling2_loyalty }}'{% endif %} /></div>
    <div>感情値2_友情<input type='number' name='sheet[feeling2_friendship]' {% if sheet.feeling2_friendship is defined %}value='{{ sheet.feeling2_friendship }}'{% endif %} /></div>
    <div>感情値2_愛情<input type='number' name='sheet[feeling2_love]' {% if sheet.feeling2_love is defined %}value='{{ sheet.feeling2_love }}'{% endif %} /></div>
    <div>感情値2_怒り<input type='number' name='sheet[feeling2_rage]' {% if sheet.feeling2_rage is defined %}value='{{ sheet.feeling2_rage }}'{% endif %} /></div>
    <div>感情値2_不信<input type='number' name='sheet[feeling2_distrust]' {% if sheet.feeling2_distrust is defined %}value='{{ sheet.feeling2_distrust }}'{% endif %} /></div>
    <div>感情値2_敵意<input type='number' name='sheet[feeling2_hostility]' {% if sheet.feeling2_hostility is defined %}value='{{ sheet.feeling2_hostility }}'{% endif %} /></div>
    <div>感情値3_人物<input type='text' name='sheet[feeling3_name]' {% if sheet.feeling3_name is defined %}value='{{ sheet.feeling3_name }}'{% endif %} /></div>
    <div>感情値3_忠義<input type='number' name='sheet[feeling3_loyalty]' {% if sheet.feeling3_loyalty is defined %}value='{{ sheet.feeling3_loyalty }}'{% endif %} /></div>
    <div>感情値3_友情<input type='number' name='sheet[feeling3_friendship]' {% if sheet.feeling3_friendship is defined %}value='{{ sheet.feeling3_friendship }}'{% endif %} /></div>
    <div>感情値3_愛情<input type='number' name='sheet[feeling3_love]' {% if sheet.feeling3_love is defined %}value='{{ sheet.feeling3_love }}'{% endif %} /></div>
    <div>感情値3_怒り<input type='number' name='sheet[feeling3_rage]' {% if sheet.feeling3_rage is defined %}value='{{ sheet.feeling3_rage }}'{% endif %} /></div>
    <div>感情値3_不信<input type='number' name='sheet[feeling3_distrust]' {% if sheet.feeling3_distrust is defined %}value='{{ sheet.feeling3_distrust }}'{% endif %} /></div>
    <div>感情値3_敵意<input type='number' name='sheet[feeling3_hostility]' {% if sheet.feeling3_hostility is defined %}value='{{ sheet.feeling3_hostility }}'{% endif %} /></div>
    <div>感情値4_人物<input type='text' name='sheet[feeling4_name]' {% if sheet.feeling4_name is defined %}value='{{ sheet.feeling4_name }}'{% endif %} /></div>
    <div>感情値4_忠義<input type='number' name='sheet[feeling4_loyalty]' {% if sheet.feeling4_loyalty is defined %}value='{{ sheet.feeling4_loyalty }}'{% endif %} /></div>
    <div>感情値4_友情<input type='number' name='sheet[feeling4_friendship]' {% if sheet.feeling4_friendship is defined %}value='{{ sheet.feeling4_friendship }}'{% endif %} /></div>
    <div>感情値4_愛情<input type='number' name='sheet[feeling4_love]' {% if sheet.feeling4_love is defined %}value='{{ sheet.feeling4_love }}'{% endif %} /></div>
    <div>感情値4_怒り<input type='number' name='sheet[feeling4_rage]' {% if sheet.feeling4_rage is defined %}value='{{ sheet.feeling4_rage }}'{% endif %} /></div>
    <div>感情値4_不信<input type='number' name='sheet[feeling4_distrust]' {% if sheet.feeling4_distrust is defined %}value='{{ sheet.feeling4_distrust }}'{% endif %} /></div>
    <div>感情値4_敵意<input type='number' name='sheet[feeling4_hostility]' {% if sheet.feeling4_hostility is defined %}value='{{ sheet.feeling4_hostility }}'{% endif %} /></div>
    <div>感情値5_人物<input type='text' name='sheet[feeling5_name]' {% if sheet.feeling5_name is defined %}value='{{ sheet.feeling5_name }}'{% endif %} /></div>
    <div>感情値5_忠義<input type='number' name='sheet[feeling5_loyalty]' {% if sheet.feeling5_loyalty is defined %}value='{{ sheet.feeling5_loyalty }}'{% endif %} /></div>
    <div>感情値5_友情<input type='number' name='sheet[feeling5_friendship]' {% if sheet.feeling5_friendship is defined %}value='{{ sheet.feeling5_friendship }}'{% endif %} /></div>
    <div>感情値5_愛情<input type='number' name='sheet[feeling5_love]' {% if sheet.feeling5_love is defined %}value='{{ sheet.feeling5_love }}'{% endif %} /></div>
    <div>感情値5_怒り<input type='number' name='sheet[feeling5_rage]' {% if sheet.feeling5_rage is defined %}value='{{ sheet.feeling5_rage }}'{% endif %} /></div>
    <div>感情値5_不信<input type='number' name='sheet[feeling5_distrust]' {% if sheet.feeling5_distrust is defined %}value='{{ sheet.feeling5_distrust }}'{% endif %} /></div>
    <div>感情値5_敵意<input type='number' name='sheet[feeling5_hostility]' {% if sheet.feeling5_hostility is defined %}value='{{ sheet.feeling5_hostility }}'{% endif %} /></div>
    <div>感情値6_人物<input type='text' name='sheet[feeling6_name]' {% if sheet.feeling6_name is defined %}value='{{ sheet.feeling6_name }}'{% endif %} /></div>
    <div>感情値6_忠義<input type='number' name='sheet[feeling6_loyalty]' {% if sheet.feeling6_loyalty is defined %}value='{{ sheet.feeling6_loyalty }}'{% endif %} /></div>
    <div>感情値6_友情<input type='number' name='sheet[feeling6_friendship]' {% if sheet.feeling6_friendship is defined %}value='{{ sheet.feeling6_friendship }}'{% endif %} /></div>
    <div>感情値6_愛情<input type='number' name='sheet[feeling6_love]' {% if sheet.feeling6_love is defined %}value='{{ sheet.feeling6_love }}'{% endif %} /></div>
    <div>感情値6_怒り<input type='number' name='sheet[feeling6_rage]' {% if sheet.feeling6_rage is defined %}value='{{ sheet.feeling6_rage }}'{% endif %} /></div>
    <div>感情値6_不信<input type='number' name='sheet[feeling6_distrust]' {% if sheet.feeling6_distrust is defined %}value='{{ sheet.feeling6_distrust }}'{% endif %} /></div>
    <div>感情値6_敵意<input type='number' name='sheet[feeling6_hostility]' {% if sheet.feeling6_hostility is defined %}value='{{ sheet.feeling6_hostility }}'{% endif %} /></div>
    <div>感情値7_人物<input type='text' name='sheet[feeling7_name]' {% if sheet.feeling7_name is defined %}value='{{ sheet.feeling7_name }}'{% endif %} /></div>
    <div>感情値7_忠義<input type='number' name='sheet[feeling7_loyalty]' {% if sheet.feeling7_loyalty is defined %}value='{{ sheet.feeling7_loyalty }}'{% endif %} /></div>
    <div>感情値7_友情<input type='number' name='sheet[feeling7_friendship]' {% if sheet.feeling7_friendship is defined %}value='{{ sheet.feeling7_friendship }}'{% endif %} /></div>
    <div>感情値7_愛情<input type='number' name='sheet[feeling7_love]' {% if sheet.feeling7_love is defined %}value='{{ sheet.feeling7_love }}'{% endif %} /></div>
    <div>感情値7_怒り<input type='number' name='sheet[feeling7_rage]' {% if sheet.feeling7_rage is defined %}value='{{ sheet.feeling7_rage }}'{% endif %} /></div>
    <div>感情値7_不信<input type='number' name='sheet[feeling7_distrust]' {% if sheet.feeling7_distrust is defined %}value='{{ sheet.feeling7_distrust }}'{% endif %} /></div>
    <div>感情値7_敵意<input type='number' name='sheet[feeling7_hostility]' {% if sheet.feeling7_hostility is defined %}value='{{ sheet.feeling7_hostility }}'{% endif %} /></div>
    <div>感情値8_人物<input type='text' name='sheet[feeling8_name]' {% if sheet.feeling8_name is defined %}value='{{ sheet.feeling8_name }}'{% endif %} /></div>
    <div>感情値8_忠義<input type='number' name='sheet[feeling8_loyalty]' {% if sheet.feeling8_loyalty is defined %}value='{{ sheet.feeling8_loyalty }}'{% endif %} /></div>
    <div>感情値8_友情<input type='number' name='sheet[feeling8_friendship]' {% if sheet.feeling8_friendship is defined %}value='{{ sheet.feeling8_friendship }}'{% endif %} /></div>
    <div>感情値8_愛情<input type='number' name='sheet[feeling8_love]' {% if sheet.feeling8_love is defined %}value='{{ sheet.feeling8_love }}'{% endif %} /></div>
    <div>感情値8_怒り<input type='number' name='sheet[feeling8_rage]' {% if sheet.feeling8_rage is defined %}value='{{ sheet.feeling8_rage }}'{% endif %} /></div>
    <div>感情値8_不信<input type='number' name='sheet[feeling8_distrust]' {% if sheet.feeling8_distrust is defined %}value='{{ sheet.feeling8_distrust }}'{% endif %} /></div>
    <div>感情値8_敵意<input type='number' name='sheet[feeling8_hostility]' {% if sheet.feeling8_hostility is defined %}value='{{ sheet.feeling8_hostility }}'{% endif %} /></div>
    <div>感情値9_人物<input type='text' name='sheet[feeling9_name]' {% if sheet.feeling9_name is defined %}value='{{ sheet.feeling9_name }}'{% endif %} /></div>
    <div>感情値9_忠義<input type='number' name='sheet[feeling9_loyalty]' {% if sheet.feeling9_loyalty is defined %}value='{{ sheet.feeling9_loyalty }}'{% endif %} /></div>
    <div>感情値9_友情<input type='number' name='sheet[feeling9_friendship]' {% if sheet.feeling9_friendship is defined %}value='{{ sheet.feeling9_friendship }}'{% endif %} /></div>
    <div>感情値9_愛情<input type='number' name='sheet[feeling9_love]' {% if sheet.feeling9_love is defined %}value='{{ sheet.feeling9_love }}'{% endif %} /></div>
    <div>感情値9_怒り<input type='number' name='sheet[feeling9_rage]' {% if sheet.feeling9_rage is defined %}value='{{ sheet.feeling9_rage }}'{% endif %} /></div>
    <div>感情値9_不信<input type='number' name='sheet[feeling9_distrust]' {% if sheet.feeling9_distrust is defined %}value='{{ sheet.feeling9_distrust }}'{% endif %} /></div>
    <div>感情値9_敵意<input type='number' name='sheet[feeling9_hostility]' {% if sheet.feeling9_hostility is defined %}value='{{ sheet.feeling9_hostility }}'{% endif %} /></div>
    <div>感情値10_人物<input type='text' name='sheet[feeling10_name]' {% if sheet.feeling10_name is defined %}value='{{ sheet.feeling10_name }}'{% endif %} /></div>
    <div>感情値10_忠義<input type='number' name='sheet[feeling10_loyalty]' {% if sheet.feeling10_loyalty is defined %}value='{{ sheet.feeling10_loyalty }}'{% endif %} /></div>
    <div>感情値10_友情<input type='number' name='sheet[feeling10_friendship]' {% if sheet.feeling10_friendship is defined %}value='{{ sheet.feeling10_friendship }}'{% endif %} /></div>
    <div>感情値10_愛情<input type='number' name='sheet[feeling10_love]' {% if sheet.feeling10_love is defined %}value='{{ sheet.feeling10_love }}'{% endif %} /></div>
    <div>感情値10_怒り<input type='number' name='sheet[feeling10_rage]' {% if sheet.feeling10_rage is defined %}value='{{ sheet.feeling10_rage }}'{% endif %} /></div>
    <div>感情値10_不信<input type='number' name='sheet[feeling10_distrust]' {% if sheet.feeling10_distrust is defined %}value='{{ sheet.feeling10_distrust }}'{% endif %} /></div>
    <div>感情値10_敵意<input type='number' name='sheet[feeling10_hostility]' {% if sheet.feeling10_hostility is defined %}value='{{ sheet.feeling10_hostility }}'{% endif %} /></div>

    <div>片思い1<input type='text' name='sheet[onesided1]' {% if sheet.onesided1 is defined %}value='{{ sheet.onesided1 }}'{% endif %} /></div>
    <div>片思い2<input type='text' name='sheet[onesided2]' {% if sheet.onesided2 is defined %}value='{{ sheet.onesided2 }}'{% endif %} /></div>
    <div>片思い3<input type='text' name='sheet[onesided3]' {% if sheet.onesided3 is defined %}value='{{ sheet.onesided3 }}'{% endif %} /></div>
    <div>恋人1<input type='text' name='sheet[sweetheart1]' {% if sheet.sweetheart1 is defined %}value='{{ sheet.sweetheart1 }}'{% endif %} /></div>
    <div>恋人2<input type='text' name='sheet[sweetheart2]' {% if sheet.sweetheart2 is defined %}value='{{ sheet.sweetheart2 }}'{% endif %} /></div>
    <div>恋人3<input type='text' name='sheet[sweetheart3]' {% if sheet.sweetheart3 is defined %}value='{{ sheet.sweetheart3 }}'{% endif %} /></div>
    <div>親友1<input type='text' name='sheet[bestfriend1]' {% if sheet.bestfriend1 is defined %}value='{{ sheet.bestfriend1 }}'{% endif %} /></div>
    <div>親友2<input type='text' name='sheet[bestfriend2]' {% if sheet.bestfriend2 is defined %}value='{{ sheet.bestfriend2 }}'{% endif %} /></div>
    <div>親友3<input type='text' name='sheet[bestfriend3]' {% if sheet.bestfriend3 is defined %}value='{{ sheet.bestfriend3 }}'{% endif %} /></div>
    <div>忠義1<input type='text' name='sheet[monarch1]' {% if sheet.monarch1 is defined %}value='{{ sheet.monarch1 }}'{% endif %} /></div>
    <div>忠義2<input type='text' name='sheet[monarch2]' {% if sheet.monarch2 is defined %}value='{{ sheet.monarch2 }}'{% endif %} /></div>
    <div>忠義3<input type='text' name='sheet[monarch3]' {% if sheet.monarch3 is defined %}value='{{ sheet.monarch3 }}'{% endif %} /></div>
    <div>ライバル1<input type='text' name='sheet[rival1]' {% if sheet.rival1 is defined %}value='{{ sheet.rival1 }}'{% endif %} /></div>
    <div>ライバル2<input type='text' name='sheet[rival2]' {% if sheet.rival2 is defined %}value='{{ sheet.rival2 }}'{% endif %} /></div>
    <div>ライバル3<input type='text' name='sheet[rival3]' {% if sheet.rival3 is defined %}value='{{ sheet.rival3 }}'{% endif %} /></div>

    <div>消費傾向<input type='text' name='sheet[consumption]' {% if sheet.consumption is defined %}value='{{ sheet.consumption }}'{% endif %} /></div>

    {#<div>戦争調停2<input type='checkbox' name='sheet[peace]' value='2' /></div>#}
    {#<div>戦争調停3<input type='checkbox' name='sheet[peace]' value='3' /></div>#}
    {#<div>戦争調停4<input type='checkbox' name='sheet[peace]' value='4' /></div>#}
    {#<div>戦争調停5<input type='checkbox' name='sheet[peace]' value='5' /></div>#}
    {#<div>戦争調停6<input type='checkbox' name='sheet[peace]' value='6' /></div>#}
    {#<div>戦争調停7<input type='checkbox' name='sheet[peace]' value='7' /></div>#}
    {#<div>戦争調停8<input type='checkbox' name='sheet[peace]' value='8' /></div>#}
    {#<div>戦争調停9<input type='checkbox' name='sheet[peace]' value='9' /></div>#}
    {#<div>戦争調停10<input type='checkbox' name='sheet[peace]' value='10' /></div>#}
    {#<div>戦争調停11<input type='checkbox' name='sheet[peace]' value='11' /></div>#}
    {#<div>戦争調停12<input type='checkbox' name='sheet[peace]' value='12' /></div>#}
    {#<div>戦争調停13<input type='checkbox' name='sheet[peace]' value='13' /></div>#}
    {#<div>戦争調停14<input type='checkbox' name='sheet[peace]' value='14' /></div>#}
    {#<div>戦争調停15<input type='checkbox' name='sheet[peace]' value='15' /></div>#}
    {#<div>戦争調停16<input type='checkbox' name='sheet[peace]' value='16' /></div>#}
    {#<div>戦争調停17<input type='checkbox' name='sheet[peace]' value='17' /></div>#}
    {#<div>戦争調停18<input type='checkbox' name='sheet[peace]' value='18' /></div>#}
    {#<div>戦争調停19<input type='checkbox' name='sheet[peace]' value='19' /></div>#}
    {#<div>戦争調停20<input type='checkbox' name='sheet[peace]' value='20' /></div>#}
    {#<div>戦争調停21<input type='checkbox' name='sheet[peace]' value='21' /></div>#}
    {#<div>難病治療2<input type='checkbox' name='sheet[cure]' value='2' /></div>#}
    {#<div>難病治療3<input type='checkbox' name='sheet[cure]' value='3' /></div>#}
    {#<div>難病治療4<input type='checkbox' name='sheet[cure]' value='4' /></div>#}
    {#<div>難病治療5<input type='checkbox' name='sheet[cure]' value='5' /></div>#}
    {#<div>難病治療6<input type='checkbox' name='sheet[cure]' value='6' /></div>#}
    {#<div>難病治療7<input type='checkbox' name='sheet[cure]' value='7' /></div>#}
    {#<div>難病治療8<input type='checkbox' name='sheet[cure]' value='8' /></div>#}
    {#<div>難病治療9<input type='checkbox' name='sheet[cure]' value='9' /></div>#}
    {#<div>難病治療10<input type='checkbox' name='sheet[cure]' value='10' /></div>#}
    {#<div>難病治療11<input type='checkbox' name='sheet[cure]' value='11' /></div>#}
    {#<div>難病治療12<input type='checkbox' name='sheet[cure]' value='12' /></div>#}
    {#<div>難病治療13<input type='checkbox' name='sheet[cure]' value='13' /></div>#}
    {#<div>難病治療14<input type='checkbox' name='sheet[cure]' value='14' /></div>#}
    {#<div>難病治療15<input type='checkbox' name='sheet[cure]' value='15' /></div>#}
    {#<div>難病治療16<input type='checkbox' name='sheet[cure]' value='16' /></div>#}
    {#<div>難病治療17<input type='checkbox' name='sheet[cure]' value='17' /></div>#}
    {#<div>難病治療18<input type='checkbox' name='sheet[cure]' value='18' /></div>#}
    {#<div>難病治療19<input type='checkbox' name='sheet[cure]' value='19' /></div>#}
    {#<div>難病治療20<input type='checkbox' name='sheet[cure]' value='20' /></div>#}
    {#<div>難病治療21<input type='checkbox' name='sheet[cure]' value='21' /></div>#}
    {#<div>迷宮破壊2<input type='checkbox' name='sheet[destroy]' value='2' /></div>#}
    {#<div>迷宮破壊3<input type='checkbox' name='sheet[destroy]' value='3' /></div>#}
    {#<div>迷宮破壊4<input type='checkbox' name='sheet[destroy]' value='4' /></div>#}
    {#<div>迷宮破壊5<input type='checkbox' name='sheet[destroy]' value='5' /></div>#}
    {#<div>迷宮破壊6<input type='checkbox' name='sheet[destroy]' value='6' /></div>#}
    {#<div>迷宮破壊7<input type='checkbox' name='sheet[destroy]' value='7' /></div>#}
    {#<div>迷宮破壊8<input type='checkbox' name='sheet[destroy]' value='8' /></div>#}
    {#<div>迷宮破壊9<input type='checkbox' name='sheet[destroy]' value='9' /></div>#}
    {#<div>迷宮破壊10<input type='checkbox' name='sheet[destroy]' value='10' /></div>#}
    {#<div>迷宮破壊11<input type='checkbox' name='sheet[destroy]' value='11' /></div>#}
    {#<div>迷宮破壊12<input type='checkbox' name='sheet[destroy]' value='12' /></div>#}
    {#<div>迷宮破壊13<input type='checkbox' name='sheet[destroy]' value='13' /></div>#}
    {#<div>迷宮破壊14<input type='checkbox' name='sheet[destroy]' value='14' /></div>#}
    {#<div>迷宮破壊15<input type='checkbox' name='sheet[destroy]' value='15' /></div>#}
    {#<div>迷宮破壊16<input type='checkbox' name='sheet[destroy]' value='16' /></div>#}
    {#<div>迷宮破壊17<input type='checkbox' name='sheet[destroy]' value='17' /></div>#}
    {#<div>迷宮破壊18<input type='checkbox' name='sheet[destroy]' value='18' /></div>#}
    {#<div>迷宮破壊19<input type='checkbox' name='sheet[destroy]' value='19' /></div>#}
    {#<div>迷宮破壊20<input type='checkbox' name='sheet[destroy]' value='20' /></div>#}
    {#<div>迷宮破壊21<input type='checkbox' name='sheet[destroy]' value='21' /></div>#}
    {#<div>地域発展2<input type='checkbox' name='sheet[growth]' value='2' /></div>#}
    {#<div>地域発展3<input type='checkbox' name='sheet[growth]' value='3' /></div>#}
    {#<div>地域発展4<input type='checkbox' name='sheet[growth]' value='4' /></div>#}
    {#<div>地域発展5<input type='checkbox' name='sheet[growth]' value='5' /></div>#}
    {#<div>地域発展6<input type='checkbox' name='sheet[growth]' value='6' /></div>#}
    {#<div>地域発展7<input type='checkbox' name='sheet[growth]' value='7' /></div>#}
    {#<div>地域発展8<input type='checkbox' name='sheet[growth]' value='8' /></div>#}
    {#<div>地域発展9<input type='checkbox' name='sheet[growth]' value='9' /></div>#}
    {#<div>地域発展10<input type='checkbox' name='sheet[growth]' value='10' /></div>#}
    {#<div>地域発展11<input type='checkbox' name='sheet[growth]' value='11' /></div>#}
    {#<div>地域発展12<input type='checkbox' name='sheet[growth]' value='12' /></div>#}
    {#<div>地域発展13<input type='checkbox' name='sheet[growth]' value='13' /></div>#}
    {#<div>地域発展14<input type='checkbox' name='sheet[growth]' value='14' /></div>#}
    {#<div>地域発展15<input type='checkbox' name='sheet[growth]' value='15' /></div>#}
    {#<div>地域発展16<input type='checkbox' name='sheet[growth]' value='16' /></div>#}
    {#<div>地域発展17<input type='checkbox' name='sheet[growth]' value='17' /></div>#}
    {#<div>地域発展18<input type='checkbox' name='sheet[growth]' value='18' /></div>#}
    {#<div>地域発展19<input type='checkbox' name='sheet[growth]' value='19' /></div>#}
    {#<div>地域発展20<input type='checkbox' name='sheet[growth]' value='20' /></div>#}
    {#<div>地域発展21<input type='checkbox' name='sheet[growth]' value='21' /></div>#}
    {#<div>世界革命2<input type='checkbox' name='sheet[revolution]' value='2' /></div>#}
    {#<div>世界革命3<input type='checkbox' name='sheet[revolution]' value='3' /></div>#}
    {#<div>世界革命4<input type='checkbox' name='sheet[revolution]' value='4' /></div>#}
    {#<div>世界革命5<input type='checkbox' name='sheet[revolution]' value='5' /></div>#}
    {#<div>世界革命6<input type='checkbox' name='sheet[revolution]' value='6' /></div>#}
    {#<div>世界革命7<input type='checkbox' name='sheet[revolution]' value='7' /></div>#}
    {#<div>世界革命8<input type='checkbox' name='sheet[revolution]' value='8' /></div>#}
    {#<div>世界革命9<input type='checkbox' name='sheet[revolution]' value='9' /></div>#}
    {#<div>世界革命10<input type='checkbox' name='sheet[revolution]' value='10' /></div>#}
    {#<div>世界革命11<input type='checkbox' name='sheet[revolution]' value='11' /></div>#}
    {#<div>世界革命12<input type='checkbox' name='sheet[revolution]' value='12' /></div>#}
    {#<div>世界革命13<input type='checkbox' name='sheet[revolution]' value='13' /></div>#}
    {#<div>世界革命14<input type='checkbox' name='sheet[revolution]' value='14' /></div>#}
    {#<div>世界革命15<input type='checkbox' name='sheet[revolution]' value='15' /></div>#}
    {#<div>世界革命16<input type='checkbox' name='sheet[revolution]' value='16' /></div>#}
    {#<div>世界革命17<input type='checkbox' name='sheet[revolution]' value='17' /></div>#}
    {#<div>世界革命18<input type='checkbox' name='sheet[revolution]' value='18' /></div>#}
    {#<div>世界革命19<input type='checkbox' name='sheet[revolution]' value='19' /></div>#}
    {#<div>世界革命20<input type='checkbox' name='sheet[revolution]' value='20' /></div>#}
    {#<div>世界革命21<input type='checkbox' name='sheet[revolution]' value='21' /></div>#}
    {#<div>環境保全2<input type='checkbox' name='sheet[preserve]' value='2' /></div>#}
    {#<div>環境保全3<input type='checkbox' name='sheet[preserve]' value='3' /></div>#}
    {#<div>環境保全4<input type='checkbox' name='sheet[preserve]' value='4' /></div>#}
    {#<div>環境保全5<input type='checkbox' name='sheet[preserve]' value='5' /></div>#}
    {#<div>環境保全6<input type='checkbox' name='sheet[preserve]' value='6' /></div>#}
    {#<div>環境保全7<input type='checkbox' name='sheet[preserve]' value='7' /></div>#}
    {#<div>環境保全8<input type='checkbox' name='sheet[preserve]' value='8' /></div>#}
    {#<div>環境保全9<input type='checkbox' name='sheet[preserve]' value='9' /></div>#}
    {#<div>環境保全10<input type='checkbox' name='sheet[preserve]' value='10' /></div>#}
    {#<div>環境保全11<input type='checkbox' name='sheet[preserve]' value='11' /></div>#}
    {#<div>環境保全12<input type='checkbox' name='sheet[preserve]' value='12' /></div>#}
    {#<div>環境保全13<input type='checkbox' name='sheet[preserve]' value='13' /></div>#}
    {#<div>環境保全14<input type='checkbox' name='sheet[preserve]' value='14' /></div>#}
    {#<div>環境保全15<input type='checkbox' name='sheet[preserve]' value='15' /></div>#}
    {#<div>環境保全16<input type='checkbox' name='sheet[preserve]' value='16' /></div>#}
    {#<div>環境保全17<input type='checkbox' name='sheet[preserve]' value='17' /></div>#}
    {#<div>環境保全18<input type='checkbox' name='sheet[preserve]' value='18' /></div>#}
    {#<div>環境保全19<input type='checkbox' name='sheet[preserve]' value='19' /></div>#}
    {#<div>環境保全20<input type='checkbox' name='sheet[preserve]' value='20' /></div>#}
    {#<div>環境保全21<input type='checkbox' name='sheet[preserve]' value='21' /></div>#}
    {#<div>贅沢三昧2<input type='checkbox' name='sheet[luxury]' value='2' /></div>#}
    {#<div>贅沢三昧3<input type='checkbox' name='sheet[luxury]' value='3' /></div>#}
    {#<div>贅沢三昧4<input type='checkbox' name='sheet[luxury]' value='4' /></div>#}
    {#<div>贅沢三昧5<input type='checkbox' name='sheet[luxury]' value='5' /></div>#}
    {#<div>贅沢三昧6<input type='checkbox' name='sheet[luxury]' value='6' /></div>#}
    {#<div>贅沢三昧7<input type='checkbox' name='sheet[luxury]' value='7' /></div>#}
    {#<div>贅沢三昧8<input type='checkbox' name='sheet[luxury]' value='8' /></div>#}
    {#<div>贅沢三昧9<input type='checkbox' name='sheet[luxury]' value='9' /></div>#}
    {#<div>贅沢三昧10<input type='checkbox' name='sheet[luxury]' value='10' /></div>#}
    {#<div>贅沢三昧11<input type='checkbox' name='sheet[luxury]' value='11' /></div>#}
    {#<div>贅沢三昧12<input type='checkbox' name='sheet[luxury]' value='12' /></div>#}
    {#<div>贅沢三昧13<input type='checkbox' name='sheet[luxury]' value='13' /></div>#}
    {#<div>贅沢三昧14<input type='checkbox' name='sheet[luxury]' value='14' /></div>#}
    {#<div>贅沢三昧15<input type='checkbox' name='sheet[luxury]' value='15' /></div>#}
    {#<div>贅沢三昧16<input type='checkbox' name='sheet[luxury]' value='16' /></div>#}
    {#<div>贅沢三昧17<input type='checkbox' name='sheet[luxury]' value='17' /></div>#}
    {#<div>贅沢三昧18<input type='checkbox' name='sheet[luxury]' value='18' /></div>#}
    {#<div>贅沢三昧19<input type='checkbox' name='sheet[luxury]' value='19' /></div>#}
    {#<div>贅沢三昧20<input type='checkbox' name='sheet[luxury]' value='20' /></div>#}
    {#<div>贅沢三昧21<input type='checkbox' name='sheet[luxury]' value='21' /></div>#}
    {#<div>その他2<input type='checkbox' name='sheet[other]' value='2' /></div>#}
    {#<div>その他3<input type='checkbox' name='sheet[other]' value='3' /></div>#}
    {#<div>その他4<input type='checkbox' name='sheet[other]' value='4' /></div>#}
    {#<div>その他5<input type='checkbox' name='sheet[other]' value='5' /></div>#}
    {#<div>その他6<input type='checkbox' name='sheet[other]' value='6' /></div>#}
    {#<div>その他7<input type='checkbox' name='sheet[other]' value='7' /></div>#}
    {#<div>その他8<input type='checkbox' name='sheet[other]' value='8' /></div>#}
    {#<div>その他9<input type='checkbox' name='sheet[other]' value='9' /></div>#}
    {#<div>その他10<input type='checkbox' name='sheet[other]' value='10' /></div>#}
    {#<div>その他11<input type='checkbox' name='sheet[other]' value='11' /></div>#}
    {#<div>その他12<input type='checkbox' name='sheet[other]' value='12' /></div>#}
    {#<div>その他13<input type='checkbox' name='sheet[other]' value='13' /></div>#}
    {#<div>その他14<input type='checkbox' name='sheet[other]' value='14' /></div>#}
    {#<div>その他15<input type='checkbox' name='sheet[other]' value='15' /></div>#}
    {#<div>その他16<input type='checkbox' name='sheet[other]' value='16' /></div>#}
    {#<div>その他17<input type='checkbox' name='sheet[other]' value='17' /></div>#}
    {#<div>その他18<input type='checkbox' name='sheet[other]' value='18' /></div>#}
    {#<div>その他19<input type='checkbox' name='sheet[other]' value='19' /></div>#}
    {#<div>その他20<input type='checkbox' name='sheet[other]' value='20' /></div>#}
    {#<div>その他21<input type='checkbox' name='sheet[other]' value='21' /></div>#}

    <div>メモ<textarea name='sheet[memo]' rows='4' cols='40'>{% if sheet.memo is defined %}{{ sheet.memo }}{% endif %}</textarea></div>

    <input type='hidden' name='sheet[id]' {% if sheet.id is defined %}value='{{ sheet.id }}'{% endif %} />
    <input type='hidden' name='sheet[hash]' {% if sheet.hash is defined %}value='{{ sheet.hash }}'{% endif %} />

    <button type="submit" class="btn">{{ pageName }}</button>
</form>
</body>
</html>